<!-- <div class="container mt-5">
    <div class="row text-center">
        <h1 class="text-capitalize">Event Management System</h1>
    </div>
    <div *ngIf="roleName === 'PLANNER'" class="mt-4">
        <app-add-resource></app-add-resource>   
        <app-event></app-event>
        <app-resource-allocate></app-resource-allocate>  
    </div>
    <div *ngIf="roleName === 'STAFF'" class="mt-4">
        <app-view-events></app-view-events>
    </div>
    <div *ngIf="roleName === 'CLIENT'" class="mt-4">
        <app-booking-details></app-booking-details> 
    </div>
</div> -->